<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/menu_jquery.js"></script>
</head>
<body>
    <div class="grid_3">
	  <div class="container">
	  	 <ul id="footer-links">
			<li><a href="#">href1</a></li>
			<li><a href="#">href2</a></li>
			<li><a href="#">href3</a></li>
			<li><a href="#">href4</a></li>
			<li><a href="support.html">href5</a></li>
			<li><a href="about.html">href6</a></li>
			<li><a href="faq.html">href7</a></li>
			<li><a href="#">href8</a></li>
         </ul>
         <p>XMSInterface <a target="_blank" href="https://www.foxhis.com/">西软官网</a></p>
	  </div>
	</div>
</body>
</html>