<!DOCTYPE HTML>
<html>
<head>
<title>注册</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Photo-Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
<script src="js/menu_jquery.js"></script> 
</head>
<body>
	<div class="header">
      <div class="container">
  	     <div class="logo">
			<h1><a href="/"><img class="logogo" src="/static/images/gogo5.png"></a></h1>
		 </div>
		 <div class="top_right">
		   <ul>
			<li><a href="register.html">注册</a></li>|
			<li class="login" >
				 <div id="loginContainer"><a href="#" id="loginButton"><span>登陆</span></a>
					  <div id="loginBox">
						  <form id="loginForm">
			                <fieldset id="body">
			                	<fieldset>
			                          <label for="email">Email Address</label>
			                          <input type="text" name="email" id="email">
			                    </fieldset>
			                    <fieldset>
			                            <label for="password">Password</label>
			                            <input type="password" name="password" id="password">
			                     </fieldset>
			                    <input type="submit" id="login" value="Sign in">
			                	<label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>
			            	</fieldset>
			                 <span><a href="#">Forgot your password?</a></span>
						   </form>
				        </div>
			      </div>
			  </li>
		   </ul>
	     </div>
		 <div class="clearfix"></div>
      </div>
    </div>
	<div class="register">
		<div class="container">
		   <form> 
				 <div class="register-top-grid">
					<h1>个人信息</h1>
					 <div>
						<span>姓名<label>*</label></span>
						<input type="text"> 
					 </div>
					 <div>
						<span>邮箱地址<label>&nbsp(建议FOXHIS邮箱注册，作为您登录该网站的帐号)</label></span>
						<input type="text"> 
					 </div>
                     <div>
						 <span>工作部门<label>*</label></span>
						 <input type="text">
					 </div>
					 <div>
						 <span>手机号<label>*</label></span>
						 <input type="text"> 
					 </div>
					 <div class="clearfix"> </div>
					   <a class="news-letter" href="#">
{#						 <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Sign Up for Newsletter</label>#}
					   </a>
					 </div>
				     <div class="register-bottom-grid">
						    <h4>登录信息</h4>
							 <div>
								<span>密码<label>*</label></span>
								<input type="text">
							 </div>
							 <div>
								<span>确认密码<label>*</label></span>
								<input type="text">
							 </div>
							 <div class="clearfix"> </div>
					 </div>
				</form>
				<div class="clearfix"> </div>
				<div class="register-but">
				   <form>
					   <input type="submit" value="提交注册信息">
					   <div class="clearfix"> </div>
				   </form>
				</div>
		   </div>
	</div>
	<div class="grid_3">
	  <div class="container">
	  	 <ul id="footer-links">
			<li><a href="#">href1</a></li>
			<li><a href="#">href2</a></li>
			<li><a href="#">href3</a></li>
			<li><a href="#">href4</a></li>
			<li><a href="support.html">href5</a></li>
			<li><a href="about.html">href6</a></li>
			<li><a href="faq.html">href7</a></li>
			<li><a href="#">href8</a></li>
         </ul>
         <p>XMSInterface <a target="_blank" href="https://www.foxhis.com/">西软官网</a></p>
	  </div>
	</div>
</body>
</html>		