<!DOCTYPE HTML>
<html>
<head>
<title>响应式服务端 [{{ port }}]</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Photo-Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/menu_jquery.js"></script>
</head>
<body>
	<div class="header">
      <div class="container">
  	     <div class="logo">
			<h1><a href="/"><img class="logogo" src="/static/images/gogo5.png"></a></h1>
		 </div>
		 <div class="top_right">
		   <ul>
			<li><a href="/register/">注册</a></li>|
			<li class="login" >
				 <div id="loginContainer"><a href="#" id="loginButton"><span>登陆</span></a>
					  <div id="loginBox">
						  <form id="loginForm">
			                <fieldset id="body">
			                	<fieldset>
			                          <label for="email">Email Address</label>
			                          <input type="text" name="email" id="email">
			                    </fieldset>
			                    <fieldset>
			                            <label for="password">Password</label>
			                            <input type="password" name="password" id="password">
			                     </fieldset>
			                    <input type="submit" id="login" value="Sign in">
			                	<label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>
			            	</fieldset>
			                 <span><a href="#">Forgot your password?</a></span>
						   </form>
				        </div>
			      </div>
			  </li>
		   </ul>
	     </div>
		 <div class="clearfix"></div>
		</div>
	</div>
	<div class="banner_search">
		<div class="container">
			<h3>监控接口 [{{ port }}]:</h3>
            <a href="/watchview_{{ port }}?port={{ port }}&openwatch=on" style="color: blue">开启服务端</a>&nbsp&nbsp&nbsp&nbsp<a href="/watchview_{{ port }}?port={{ port }}&openwatch=off" style="color: red">关闭服务端</a>
            &nbsp&nbsp&nbsp&nbsp<a href="/watchview_{{ port }}?port={{ port }}&openwatch=flush" style="color: #a6e1ec">刷新显示最新监控状态</a>&nbsp&nbsp&nbsp&nbsp<a a href="/watchview_{{ port }}?port={{ port }}&openwatch=delnobinding" style="color: #fcad57">一键移除未绑定的客户端</a>
            &nbsp&nbsp&nbsp&nbsp<a a href="/watchview_{{ port }}?port={{ port }}&openwatch=bindingheart" style="color: #fc96d4">测试绑定客户端连接是否正常</a><a href="/watchview_{{ port }}?port={{ port }}&openwatch=bindingheartflush" style="color: #fcc2dc">[刷新]</a><a href="/watchview_{{ port }}?port={{ port }}&openwatch=bindingheartclose" style="color: #fcc3dd">[关闭测试]</a><br/><br/>
            {% if errorstatuserver %}
                {{ errorstatuserver }}
            {% elif tcpservergo %}
                {% if tcpservergo.ip %}
                    IP:{{ tcpservergo.ip }} port:{{ tcpservergo.port }} [已开启]<br/>
                {% elif tcpservergo.ip == None%}
                    {{ tcpservergo }}
                {% endif %}
            {% elif tcpserveroff %}
                {{ tcpserveroff }}
            {% elif tcpserver.ip %}
                IP:{{ tcpserver.ip }} port:{{ tcpserver.port }} [已开启]<br/>
                {% for tcpclinend_k,tcpclinend_v in tcpclinend.items %}
                {{ tcpclinend_k }}: {{ tcpclinend_v }}{%  if tcpclinend_v.1 in jianankongport %}<span style="color: blue">  该端口已绑定</span>{% else %}<span style="color: red">  未绑定</span>{% endif %}
                    <br>
                {% endfor %}
            {% elif tcpclinend != '' and tcpclinend2.ip == None %}
                {% for tcpclinend_k,tcpclinend_v in tcpclinend.items %}
                {{ tcpclinend_k }}: {{ tcpclinend_v }}{%  if tcpclinend_v.1 in jianankongport %}<span style="color: blue">  该端口已绑定</span>{% else %}<span style="color: red">  未绑定</span>{% endif %}
                    <br>
                {% endfor %}
            {% elif tcpclinend == None and tcpclinend2.ip%}
                IP:{{ tcpclinend2.ip }} port:{{ tcpclinend2.port }} [已开启]<br/>
                未监测到有客户端连接...
            {% elif tcpclinend and tcpclinend2.ip%}
                IP:{{ tcpclinend2.ip }} port:{{ tcpclinend2.port }} [已开启]<br/>
                {% for tcpclinend_k,tcpclinend_v in tcpclinend.items %}
                {{ tcpclinend_k }}: {{ tcpclinend_v }}{%  if tcpclinend_v.1 in jianankongport %}<span style="color: blue">  该端口已绑定</span>{% else %}<span style="color: red">  未绑定</span>{% endif %}
                    <br>
                {% endfor %}
            {% endif %}
            {% if Heartonline %}
            <br/><br/><br/>
            <h4><b>客户端在线连接状态检测:</b></h4>
                <table>
                      <tr>
                        <th style="width: 200px; height: 40px">酒店名</th>
                        <th style="width: 200px; height: 40px">监控接口</th>
                        <th style="width: 200px; height: 40px">监控端口</th>
                        <th style="width: 200px; height: 40px">测试结果</th>
                        <th style="width: 200px; height: 40px"></th>
                      </tr>
                      <tr>
                        {%  for statusInterface  in jianankong %}
                      <tr>
                        <td>{{ statusInterface.hootelname.hootelname }}</td>
                        <td><a style="color: darkgreen" href='/search_detail?brandversionid={{ statusInterface.hootelname.verison.id }}'>{{ statusInterface.hootelname.verison }}</a></td>
                        <td style="color: blue">{{ statusInterface.port }}</td>
                        <td>{% if statusInterface.port in Heartonline %}<span style="color: blue">通过测试</span>
                        {% else %}<span style="color: red">未响应...</span></td>
                        <td><a href="/watchview_{{ port }}?port={{ port }}&openwatch=delbindingheart&delport={{ statusInterface.port }}" style="color: rgba(83, 107, 117, 0.62)">移除该客户端</a></td>
                        {% endif %}
                      </tr>
                        {% endfor %}
                </table>
            {% endif %}
            <br/><br/><br/>
            <h4><b>监控在线接口:</b></h4>
            <table>
              <tr>
                <th style="width: 200px; height: 40px">酒店名</th>
                <th style="width: 200px; height: 40px">监控接口</th>
                <th style="width: 200px; height: 40px">状态</th>
                <th style="width: 200px; height: 40px">最新客户端数据</th>
                <th style="width: 200px; height: 40px">更新状态时间</th>
                <th style="width: 200px; height: 40px">接口启动时间</th>
                <th style="width: 200px; height: 40px">监控端口</th>
              </tr>
                {%  for statusInterface  in jianankong %}
              <tr>
                <td>{{ statusInterface.hootelname.hootelname }}</td>
                <td><a style="color: darkgreen" href='/search_detail?brandversionid={{ statusInterface.hootelname.verison.id }}'>{{ statusInterface.hootelname.verison }}</a></td>
                <td style="color: blue">{{ statusInterface.sjdinterfacesta }}</td>
                <td style="color: chocolate">{% for messagek,messagev in  clientmessage.items%}{% if statusInterface.port == messagek %}{{ messagev }}{% endif %}{% endfor %}</td>
                <td>{{ statusInterface.up_time }}</td>
                <td>{{ statusInterface.cq_time }}</td>
                <td style="color: blue">{{ statusInterface.port }}</td>
               </tr>
               {% endfor %}
            </table>
        </div>
	</div>
	<div class="grid_3">
	  <div class="container">
	  	 <ul id="footer-links">
			<li><a href="#">href1</a></li>
			<li><a href="#">href2</a></li>
			<li><a href="#">href3</a></li>
			<li><a href="#">href4</a></li>
			<li><a href="support.html">href5</a></li>
			<li><a href="about.html">href6</a></li>
			<li><a href="faq.html">href7</a></li>
			<li><a href="#">href8</a></li>
         </ul>
         <p>XMSInterface <a target="_blank" href="https://www.foxhis.com/">西软官网</a></p>
	  </div>
	</div>
</body>
</html>		